@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
  --container-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --draggable-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.19);
  --family-primary: 'Open Sans', sans-serif;

  /* Dark */
  --dark-primary-style-color: #503277;
  --dark-secondary-style-color: #a0487b90;
  --dark-primary-bg-color: #503277e9;
  --dark-text-primary-color: #FFFFFF;
  --dark-background-color: #2f2d48;
  --dark-bg-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='300' height='300' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(47, 45, 72,1)'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L34 6h-28v28z' fill='rgba(80, 50, 119,1)'/%3E%3Cpath d='M40 0v10h60v60L0 40L6 34h28v-28z' fill='rgba(160, 72, 124,1)'/%3E%3Cpath d='M40 0v10h60v60L0 40L0 40h40v-40z' fill='rgba(80, 50, 119,1)'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L40 0h-40v40z' fill='rgba(160, 72, 124,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");

  /* Light */
  --light-primary-style-color: #c9ccd5;
  --light-secondary-style-color: #f1e8eb;
  --light-primary-bg-color: #c9cdd79a;
  --light-text-primary-color: #6b6e75;
  --light-background-color: rgba(255, 255, 255, 1);
  --light-bg-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='300' height='300' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(247, 250, 252,1)'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L34 6h-28v28z' fill='rgba(201, 204, 213,1)'/%3E%3Cpath d='M40 0v10h60v60L0 40L6 34h28v-28z' fill='rgba(228, 216, 220,1)'/%3E%3Cpath d='M40 0v10h60v60L0 40L0 40h40v-40z' fill='rgba(201, 204, 213,1)'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L40 0h-40v40z' fill='rgba(228, 216, 220,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");

  /* Default */
  --primary-style-color: var(--light-primary-style-color);
  --secondary-style-color: var(--light-secondary-style-color);
  --primary-bg-color: var(--light-primary-bg-color);
  --text-primary-color: var(--light-text-primary-color);
  --background-color: var(--light-background-color);
  --bg-img: var(--light-bg-img);

  /* Overriding bulma defined colors */
  --primary: var(--primary-style-color);
}

.dark-mode {
  --bg-img: var(--dark-bg-img);
  --primary-style-color: var(--dark-primary-style-color);
  --secondary-style-color: var(--dark-secondary-style-color);
  --primary-bg-color: var(--dark-primary-bg-color);
  --text-primary-color: var(--dark-text-primary-color);
  --background-color: var(--dark-background-color);

}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--text-primary-color);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%),
  var(--bg-img);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

input, select, .section-title{
  color: var(--text-primary-color) !important;
  background-color: var(--background-color);
}
.menu button {
  letter-spacing: 0.05rem;
  background: var(--primary-style-color);
  border: none;
  border-radius: 1rem;
  box-shadow: var(--draggable-shadow);
  text-transform: uppercase;
}

button:enabled {
  cursor: pointer;
}

button:hover {
  scale: 1.1;
}

button:enabled:active {
  transform: translateY(4px);
}

.canvas {
  cursor: crosshair;
}

.controller-menu {
  font-size: var(--size-6);
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  background-color: var(--background-color);
  overflow: auto;
  overflow-x: hidden;
  z-index: 1;
  /* ensure the panel is on top of the canvas */
  transition: right 1.0s ease-in-out;
  box-shadow: var(--container-shadow);
}

.controller-menu.is-expanded {
  right: 0;
}

.content-menu {
  margin-right: 0;
  transition: margin-right 1s ease-in-out;
}

.controller-span {
  float: left;
  display: inline;
}

.controller-menu-button {
  height: 40px;
  width: 40px;
  top: 50%;
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 0.2rem;
}

.controller-menu input,
select,
button {
  width: 100%;
}

.level {
  margin-top: 20px;
}

.menu-list li {
  margin: 5px;
}

.menu-label {
  font-size: 0.9em;
}

.container {
  padding: 0;
  height: 40rem;
  background: 0px 2px 3px rgba(255, 255, 255, 0.5);
  background-color: var(--background-color);
  margin: auto;
  width: auto;
  box-shadow: var(--container-shadow);
  overflow: hidden;
}


.section {
  min-height: 50rem;
  padding: 2rem;
  margin: 3rem;
}


.header-element {
  margin-top: 10rem;
  font-size: 10rem;
  color: var(--text-primary-color);
  text-align: center;
}

.content {
  /* margin:3rem; */
}


.slider {
  box-shadow: var(--draggable-shadow);
  -webkit-appearance: none;
  border-radius: 1rem;
  background: var(--secondary-style-color);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  box-shadow: inset 0 -1px 1px rgb(121, 121, 121);
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--primary-style-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  box-shadow: var(--draggable-shadow);
  background: var(--primary-style-color);
  cursor: pointer;
}


input:hover {
  scale: 1.1;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-style-color);
  box-shadow: var(--draggable-shadow);
  border-radius: 1rem;
}

.footer {
  background-color: var(--primary-bg-color);
}

.box-element {
  background-color: var(--primary-bg-color);
  color: var(--text-primary-color);
  box-shadow: var(--container-shadow);
}

ion-icon {
  color: var(--text-primary-color);
  margin: 0.2rem;
}

.section {
  /* color: var(--text-primary-color);
   */

}

.navbar {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
  background-color: var(--primary-style-color);
  box-shadow: var(--container-shadow);
  transition: 0.3s ease-in-out;
  /* opacity: 0; */
  z-index: 1;

  /* visibility: hidden; */
  /* position: fixed; */
}

.navbar.is-visible {
  transform: translateY(0);
  opacity: 1;
}

.navbar:hover {
  opacity: 1;
  transform: translateY(0.1rem);

}

.navbar .button {
  border: none;
  background-color: transparent;
}