@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
:root {
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.menu button {
  border: none;
}


button:enabled{
  cursor: pointer;
}

button:hover {
  scale: 1.1;
}

button:enabled:active{
  transform: translateY(4px);
}
.canvas {
  cursor: crosshair;
}

.controller-menu {
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  background-color: white;
  overflow: auto;
  overflow-x: hidden;
  z-index: 1; /* ensure the panel is on top of the canvas */
  transition: right 1.0s ease-in-out;
  box-shadow: var(--shadow);
}

.controller-menu.is-expanded {
  right: 0;
}

.content-menu {
  margin-right: 0;
  transition: margin-right 1s ease-in-out;
}

.controller-span {
  float: left;
  display: inline;
}
.controller-menu-button {
  height: 40px;
  width: 40px;
  top: 50%;
  background-color: transparent ;
  border: none;
  display: inline-block;
  margin: 0.2rem;
}

.controller-menu input, select, button { 
  width: 100%;
}

.level {
  margin-top: 20px;
}

.menu-list li {
  margin: 5px;
}

.menu-label {
  font-size: 0.9em;
}

.container {
  padding: 0;
  height: 40rem;
  background: 0px 2px 3px rgba(255,255,255,0.5);
  margin: auto;
  width: auto;
  box-shadow: var(--shadow);
  overflow: hidden;
}

.my-icon {
  width: 2rem;
  height: 2rem;
  float: right;
}
.section {
  padding: 2rem;
}
